<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103355904072-q8rioh2asibh0mo152l7fla1daf275u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103355904072-q8rioh2asibh0mo152l7fla1daf275u3</string>
	<key>API_KEY</key>
	<string>AIzaSyC1JpDJOSLTTptcGBgcatBCkRZwTAosEv8</string>
	<key>GCM_SENDER_ID</key>
	<string>103355904072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ufg.br.WebService</string>
	<key>PROJECT_ID</key>
	<string>projetofinaliosufg</string>
	<key>STORAGE_BUCKET</key>
	<string>projetofinaliosufg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103355904072:ios:04367d9f1984df74</string>
	<key>DATABASE_URL</key>
	<string>https://projetofinaliosufg.firebaseio.com</string>
</dict>
</plist>